* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  padding: 1.2em;
  color: #264065;
  margin: 1.2em 11em;
  background-image: url(../img/testimony.png), url(../img/beauty-woman-skin-care-beautiful-female-hand-touch-8B5MWG9\ 1.png),url(../img/spa.svg),linear-gradient(to right, #FAF8F5 70%, #A9D6CB 30%);
  background-size: 24%, 75%, 28%, 100% 75%;
  background-position: 95% 85%, right, 88% 8%, top;
  min-height: 100vh;
  background-repeat: no-repeat;
  opacity: 0 0.5;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 4.5em;
    align-items: center;
    margin-bottom: 8em;

    li a {
        text-decoration: none;
        color: #264065;
        font-size: 1.1em;
    }

    li:first-child {
        font-weight: 700;
        font-size: 2em;

        span {
            color: #A9D6CB;
        }
    }

    li:nth-child(2) {
        margin-left: 14em;
    }

    li:nth-child(6) {
        margin-right: auto;
    }

    li:last-child a {
        color: white;
        background-color: #264065;
        padding: 1em 2.2em;
        border-radius: 50px;
    }

    li:last-child a:hover {
        background-color: red;
    }

    li:nth-child(9) {
        text-decoration: underline;
    }
}

.title {
    width: 40%;
    font-size: 2em;

    h1 {
        margin-bottom: 0.5em;
    }
    
    p {
        font-size: 0.8em;
        color: #909090;
    }
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    a {
        text-decoration: none;
        color: #264065;
        font-size: 0.5em;
    }

    a:first-child {
        background-color: #264065;
        color: white;
        padding: 1em 2.2em;
        border-radius: 50px;
    }

    a:first-child:hover {
        background-color: red;
    }

    img {
        margin-top: 2em;
    }
}

.info {
    display: flex;
    background-color: white;
    padding: 2em;
    border-radius: 1.2em;
    gap: 4em;
    width: 30%;
    text-align: center;
    margin-left: 2em;
    margin-top: 30px;

    img {
        margin-bottom: 1.5em;
    }

    h2 {
        margin-bottom: 0.8em;
        font-size: 2.2em;
        font-weight: 600;
    }
}

a:hover {
    color: red;
}



